<h3> Add Task
</h3>
<hr/>
<input [(ngModel)]="title" placeholder="Title"/>
<input [(ngModel)]="comments" placeholder="Comments"/>
<input [(ngModel)]="planned" placeholder="Planned (YYYY-MM-dd)"/>
<button (click)="addTask(title,comments,planned)">Add Task</button>
<hr/>
<h3> List of tasks
</h3>
<hr/>
<div *ngFor="let task of tasks">
  <p><span><strong>Id</strong>:</span> {{task.id}}</p>
  <p><span><strong>Title</strong>:</span> {{task.title}}</p>
  <p><span><strong>Comments</strong>:</span> {{task.comments}}</p>
  <p><span><strong>Created</strong>:</span> {{task.created | date: "yyyy-MM-dd"}}</p>
  <p><span><strong>Planned</strong>:</span> {{task.planned | date: "yyyy-MM-dd"}}</p>
  <p><span><strong>Finished</strong>:</span> {{task.finished}}</p>
  <button (click)="finishTask(task.id)">Finish Task</button>
  <hr/>
</div>